@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    padding: 0;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255) !important;
    background: linear-gradient(to bottom right,#366a72 0,#0b1b22) !important;
}

main {
    z-index: 99999;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgb(36, 121, 116);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 179, 173);
}
::-webkit-scrollbar-track {
    background: rgb(24, 28, 36);
    border-radius: 0px;
}

.bg-darker {
    background-color: rgb(22 24 34 / 70%) !important;
    box-shadow: 0px 0px 20px rgb(8 19 22 / 66%) !important;
    border: 1px solid rgb(255 255 255 / 6%) !important;
    backdrop-filter: blur(5px);
}

h1.display-5.fw-bold {
    font-size: 67px;
    color: rgb(255 255 255);
    text-shadow: rgb(236 184 255 / 13%) 0px 0px 15px;
}

h1.display-5.fw-bold span {
    font-size: 67px;
    font-weight: lighter;
    margin-left: 18px;
}

#particles {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: all 1s ease-in-out;
}

.background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.bgi-main-1 { background: url(../images/bg-main-1.png); }
.bgi-main-2 { background: url(../images/bg-main-2.png); }
.bgi-main-3 { background: url(../images/bg-main-3.png); }
.bgi-main-4 { background: url(../images/bg-main-4.png); }
.bgi-main-5 { background: url(../images/bg-main-5.png); }

.bgi-box-1 {
    background: url(../images/bg-content-1.png);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}

.bgi-box-2 {
    background: url(../images/bg-content-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}

.bgi-box-3 {
    background: url(../images/bg-content-3.png);
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}

.bg-main {
    background: linear-gradient(23deg, rgb(105 68 217 / 24%) 15%, rgb(89 215 174 / 17%) 100%);
    box-shadow: 0px 0px 70px rgb(3 0 48 / 71%);
    margin-bottom: 50px;
}

.logo {
    padding-top: 120px;
    text-align: center;
}

.logo img {
    filter: drop-shadow(0px 0px 30px rgba(20, 20, 20, 0.40));
}

.eslogan {
    font-size: 37px;
    color: rgb(255 255 255);
    text-shadow: 2px 2px 0px rgb(0 0 0 / 21%);
    width: fit-content;
    margin: 20px auto 8px auto;
    font-family: 'Lato', Courier, monospace;
    font-weight: 900;
}

.first {
    font-size: 19px;
    color: rgb(255 255 255);
    text-shadow: 0px 0px 8px rgb(0 0 0 / 32%);
    width: fit-content;
    margin: 50px auto 50px auto;
    font-family: 'Lato', Courier, monospace;
    font-weight: lighter;
}

.first b {
    font-weight: 900;
    color: rgb(255 255 255);
}

.first span {
    display: block;
    font-size: 13px;
    background: rgb(253 253 253 / 7%);
    width: 241px;
    padding: 12px 5px 9px;
    margin: 26px auto 0 auto;
    text-align: center;
    border-radius: 24px;
    color: rgb(193 200 211);
    font-family: 'Roboto';
    border: 1px solid rgb(133 154 181 / 62%);
    font-weight: lighter;
}

.page-window {
    width: 100vw;
    height: 100vh;
}

.btn-discord {
    color: #fff !important;
    background-color: rgb(88 101 242 / 23%) !important;
    border-color: rgb(88 101 242 / 61%) !important;
    padding: 24px 29px 24px !important;
    font-weight: bold !important;
}

.btn-discord:hover {
    background-color: rgb(88 101 242 / 48%) !important;
    border-color: rgb(88 101 242) !important;
}

.btn-discord img {
    width: 33px;
    margin-right: 13px;
    vertical-align: middle;
    margin-bottom: -2px;
    margin-top: -8px;
}

.discord-members {
    display: block;
    width: 230px;
    font-size: 15px;
    background: rgb(86 237 104 / 8%);
    padding: 30px 18px 24px 18px;
    border-radius: 5px;
    color: rgb(164 255 167 / 81%);
    font-weight: bold;
    position: absolute;
    border: 1px solid rgb(164 255 167 / 28%);
    text-align: center;
    margin-left: 492px;
    margin-top: 24px;
}

.discord-members img {
    width: 23px;
    margin-right: 4px;
    margin-top: -3px;
}

.text-naun {
    color: rgb(228 251 255 / 68%) !important;
}

.crawler {
    float: right;
    margin-top: -227px;
    margin-right: -102px;
    margin-bottom: -15px;
    width: 591px;
    filter: drop-shadow(0px 0px 20px rgb(0,0,0,0.3));
    z-index: 9999;
    position: relative;
}

.links {
    margin-top: 49px;
    background: rgb(0 0 0 / 11%);
    padding: 11px 20px;
    border-radius: 5px;
}

.links span {
    font-weight: bold;
    margin-right: 11px;
    color: rgb(166 203 211 / 49%);
}

.links a:hover {
    color: rgb(154 255 227);
}

.links a {
    margin-right: 11px;
    color: rgb(154 255 227 / 66%);
    text-decoration: none;
}

.text-footer {
    --bs-text-opacity: 1;
    color: rgb(159 211 206 / 29%) !important;
}

.arrows {
    margin-top: 14vh;
    text-align: center;
    animation: float 4s ease-in-out infinite;
}

.arrows img {
    width: 32px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.box-1 {
    margin-left: -10px;
}

.box-2 {
    margin-right: -10px;
}